* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A9D7E9;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 2rem 0;
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  font-family: "Roboto Slab", serif;
  max-width: 700px;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1rem;
}
@media screen and (max-width: 700px) {
  main {
    padding: 1rem 2rem;
    border-radius: 0;
    height: 100vh;
    align-items: start;
  }
}
main .text-info {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 0.8rem;
}
form .input-label {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: rows;
  padding: 0.6rem 0;
  width: 100%;
  align-items: none !important;
}
@media screen and (max-width: 700px) {
  form .input-label {
    flex-direction: column;
  }
}
form .input-label div {
  width: 50%;
}
@media screen and (max-width: 700px) {
  form .input-label div {
    width: 100%;
    margin-bottom: 0.2rem;
  }
}
form .input-label > div:nth-child(1) {
  text-align: right;
}
@media screen and (max-width: 700px) {
  form .input-label > div:nth-child(1) {
    text-align: left;
  }
}
form .input-label > div:nth-child(2) {
  padding-left: 1rem;
}
@media screen and (max-width: 700px) {
  form .input-label > div:nth-child(2) {
    padding: 0;
  }
}
form .input-label label {
  white-space: pre;
}
@media screen and (max-width: 700px) {
  form .input-label label {
    white-space: normal;
    padding-bottom: 1rem !important;
  }
}
form .input-label textarea,
form .input-label input,
form .input-label select {
  border: 1px solid #D9D9D9;
}
form .input-label textarea:focus,
form .input-label input:focus,
form .input-label select:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid #D9D9D9;
  outline: 0;
}
form .input-label input {
  font-size: 0.7rem;
}
@media screen and (max-width: 700px) {
  form .input-label input {
    font-size: 0.8rem;
  }
}
form .input-label input[type=radio], form .input-label input[type=checkbox] {
  width: 0.6rem;
}
form .input-label input[type=text], form .input-label input[type=number], form .input-label input[type=email] {
  width: 80%;
  padding: 0.1rem;
  padding-left: 0.2rem;
  height: 1.6rem;
}
@media screen and (max-width: 700px) {
  form .input-label input[type=text], form .input-label input[type=number], form .input-label input[type=email] {
    width: 100%;
    height: 1.8rem;
  }
}
form .input-label select {
  width: 40%;
  height: 1.6rem;
  background-color: #E9E9ED;
  font-size: 0.7rem;
}
@media screen and (max-width: 700px) {
  form .input-label select {
    height: 1.8rem;
  }
}
form .input-label textarea {
  font-size: 0.7rem;
  width: 80%;
  padding: 0.1rem;
  padding-left: 0.2rem;
}
@media screen and (max-width: 700px) {
  form .input-label textarea {
    width: 100%;
  }
}
form .btn {
  background-color: #6BA2CE;
  border: none;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  padding: 0.5rem 0.8rem;
  color: #FFF;
  cursor: pointer;
}
form .btn:hover {
  background-color: #3485c5;
}

/*# sourceMappingURL=styles.css.map */
